// Foundation Framework
// @import 'foundation';
@import 'font-awesome';

// CUSTOM COLORS
$Navy: #082c38; 
$BrightBlue: #39bced;
$LightGrey: #E7E7E4;
$qzGrey: #3A3A3A;

$shadowGrey: #C0C2C2;

$light-box-shadows: 4px 4px 4px 4px $shadowGrey;
$box-shadows: 5px 5px 5px 5px $shadowGrey;

$standard-text-padding: 5px 20px 15px 20px;
$standard-text-margin: 8px 0px;

@mixin padding ($standard-text-padding) {
  padding: $standard-text-padding;
}

@mixin margin ($standard-text-margin) {
  margin: $standard-text-margin;
}


@mixin box-shadow ($box-shadows) {
  -webkit-box-shadow: $box-shadows;
  -moz-box-shadow:    $box-shadows;
  -ms-box-shadow:     $box-shadows;
  box-shadow:         $box-shadows;
}

@mixin box-shadow ($light-box-shadows) {
  -webkit-box-shadow: $light-box-shadows;
  -moz-box-shadow:    $light-box-shadows;
  -ms-box-shadow:     $light-box-shadows;
  box-shadow:         $light-box-shadows;
}


body {
  background: white;
}


// MOBILE RESPONSIVENESS NOTE
// @media only screen and (min-width: 900px) {

// IMPORT STYLE SHEETS
@import './structure/index.scss';
@import './forms/index.scss';
@import './fonts/fonts.scss';
@import './landing-pages/index.scss';
@import './content/index.scss';