// Foundation Framework
@import 'foundation';


// CUSTOM COLORS
$Navy: #082c38; 
$BrightBlue: #39bced;

body {
  background: white;
  font-size: 62.5%;
  color: $Navy;
}


// MOBILE RESPONSIVENESS NOTE
// @media only screen and (min-width: 900px) {

// IMPORT STYLE SHEETS
@import './structure/structure.scss';