
<h3>Create a new article</h3>

<form ng-submit="vm.createArticle(article)" class="admin-content-form">

  <div class="form-dropdown-container">
    <p class="admin-article-label">Tag</p>
    <select ng-model="article.tagName">
      <option value="">Choose a tag</option>
      <option ng-repeat="tag in vm.currentTags">{{ tag.tagName }}</option>
    </select>

    <p class="admin-article-label">Feature?</p>
    <select ng-model="article.feature">
      <option value="">Is this a top story?</option>
      <option>Yes</option>
      <option>No</option>
    </select>

  </div>

  <input ng-model="article.title" placeholder="Title">
  <textarea ng-model="article.content" placeholder="Content"></textarea>
  <input ng-model="article.imgUrl" placeholder="Image URL">

  <button>Create article</button>

</form>