.admin-container {  
  display: inline-block;
  width: 75%;
  padding-left: 35px;

  h3 {
    display: inline-block;
  }


  .admin-content-form {
    width: 95%;
    display: block;
    max-width: 800px;
    padding: 20px;
    border: 2px solid $Navy;
    border-radius: 4px;

    .form-row {
      display: block;
      width:  80%;
      margin: 10px auto;
      
      span {
        display: inline-block;
        width: 200px;
        margin: 15px auto;
        font-size: 1.6em;
      }

      select.new-share-img {
          display: inline-block;
          width: 80%;
          max-width: 200px;
          margin: 15px auto;
          font-size: 1.6em;
          border-radius: none;
          padding: 15px;

        option {
          display: inline-block;
          width: 80%;
          max-width: 200px;
          margin: 15px auto;
          font-size: 1.6em;
          border-radius: none;
          padding: 15px;
        }
      }
    }

    .form-dropdown-container {
      display: block;
      padding: 0px;
      width: 100%;
      margin: 10px auto;
      text-align: center;
      
      p.admin-article-label, select, option {
        display: inline-block;
        margin: 15px auto;
        font-size: 1.6em;
        padding: 20px;
      }

      select, option {
        width: 200px;
        height: 40px;
      }
    }



    input {
      display: block;
      width: 80%;
      margin: 15px auto;
      font-size: 1.6em;
      padding: 15px;
    }

    textarea {
      display: block;
      width: 80%;
      margin: 15px auto;
      font-size: 1.6em;
      padding: 15px;
      border: none;
      min-height: 200px;
    }

    button {
      background-color: $Navy;
      color: white;
      font-size: 1.8em;
      padding: 15px;
      display: block;
      margin: 15px auto;
      width: 30%;
      border: 2px solid white;

      &:hover {
        background-color: $BrightBlue;
      }
    }
  }

  .admin-form {
    width: 100%;
    display: block;
    max-width: 500px;
    padding: 20px;
    border: 2px solid $Navy;
    border-radius: 4px;

    input {
        display: block;
        width: 80%;
        margin: 15px auto;
        font-size: 1.6em;
        padding: 15px;
    }

    button {
      background-color: $Navy;
      color: white;
      font-size: 1.8em;
      padding: 15px;
      display: block;
      margin: 15px auto;
      width: 50%;
      border: 2px solid white;

      &:hover {
        background-color: $BrightBlue;
      }

    }

  }

}
