@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
  font-size: 62.5%;
  color: $qzGrey;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4.4em;
}

h2 {
  font-size: 4.0em;
}

h3 {
  font-size: 3.0em;
}

h4 {
  font-size: 2.2em;
}

p {
  font-size: 2.6em;
}

span, li, a {
  font-size: 1.8em;
}