<div class="landing-top-a">
  <a id="top"></a>
  
  <div class="transparent-box"></div>



  <div class="over-background">
    
    <div class="top-text">
      <h3>Primer Sports<h3>
      <h4>Your ticket to sports conversations</h4>
    </div>

    <!-- <div class="top-form">
      <form>
        <h3>Sports for busy, smart people</h3>
        <input placeholder="Your email address"/>
        <button>Get Primed</button>
      </form>
    </div> -->

  <!-- Begin MailChimp Signup Form -->
  
<!--   <h5 class="tag-line">You're busy, so we'll call your attention to the sports stories that matter.</h5> -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">

  
  <div class="top-form" id="mc_embed_signup">

    <form action="//primersports.us9.list-manage.com/subscribe/post?u=b6927a9ba9e73b00250360b96&amp;id=01db07c584" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    
    <div id="mc_embed_signup_scroll">  
      
      <div class="mc-field-group">
        <!-- <label for="mce-FNAME">First Name </label> -->
        <input type="text" placeholder="First name" value="" name="FNAME" class="" id="mce-FNAME">
      </div>
  
      <div class="mc-field-group">
        <!-- <label for="mce-LNAME">Last Name </label> -->
        <input type="text" placeholder="Last name" value="" name="LNAME" class="" id="mce-LNAME">
      </div>

      <div class="mc-field-group">
        <input type="email" placeholder="Email address" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>
    
      <div class="mc-field-group input-group">
        <strong>Opt-in for league-specific content: </strong>
        <ul>
          <li>
            <input type="checkbox" class="radio" value="ACC Basketball" name="MMERGE3" id="mce-MMERGE3-0"><label for="mce-MMERGE3-0">ACC Basketball</label>
          </li>
        </ul>
      </div>
      <hr>

    <div class="mc-field-group input-group">
      <strong>Interested in our upcoming add-ons? </strong>
      <ul><li><input type="checkbox" class="radio" value="Atlanta (Coming soon)" name="MMERGE4" id="mce-MMERGE4-0"><label for="mce-MMERGE4-0">Atlanta (Coming soon)</label></li>
      </ul>
    </div>
  
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>  

    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b6927a9ba9e73b00250360b96_01db07c584" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>

    </form>
  </div>
  
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='radio';fnames[4]='MMERGE4';ftypes[4]='radio';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  <!--End mc_embed_signup-->



    <i ng-click="vm.goToDemo('demo')" class="fa fa-chevron-down"></i>

    <a href="#/"><img src="http://i.imgur.com/2I2TMYw.png"></a>

  </div>



</div>

<!-- END OF TOP SCREEN -->

<!-- -------- -->

<!-- BEG OF 2ND SCREEN -->

<div class="landing-demo-block">
<a id="demo"></a>

  <div class="demo-container">
    
    <h1>What you can expect from us</h1> 

    <h2>Our M/W/F emails take 3-5 minutes to read and get you up to speed on the most conversational sports stories.</h2>
    <h3>Here's a quick walk-through of a typical email:</h3>

    <img class="demo-gif" src="https://gallery.mailchimp.com/b6927a9ba9e73b00250360b96/images/5204c07e-a4af-40be-b56e-69f9b28304ba.gif?_ga=1.173346083.1888661367.1422410663">
    
    <i ng-click="vm.goToDemo('bottom')" class="fa fa-chevron-down"></i>

  </div>


</div>


<!-- END OF SECOND SCREEN -->

<!-- --------- -->

<!-- BEG OF THIRD SCREEN -->

<div class="landing-third-block">

  <div class="third-block-container">
    
    <h1>Learn more about us</h1> 

    <div ng-click="vm.goToPage('root.home')" class="four-blocks">
      <img src="http://i.imgur.com/zNfNTt8.png">
      <h2>Home</h2>
    </div>

    <div ng-click="vm.goToPage('root.archives')" class="four-blocks">
      <img class="archive-icon" src="http://i.imgur.com/xH26qJI.png">
      <h2>Archives</h2>
    </div>

    <div ng-click="vm.goToPage('root.share')" class="four-blocks">
      <img class="share-icon" src="http://i.imgur.com/A1BBQyc.png">
      <h2>Share</h2>
    </div>
    

    <div ng-click="vm.goToPage('root.about')" class="four-blocks">
      <img class="founder-icon" src="http://i.imgur.com/hZHH2R9.png">
      <h2>About us</h2>
    </div>

  </div>


</div>


<!-- END OF THIRD SCREEN -->


<!-- -------- -->

<!-- BEG OF 4TH SCREEN -->

<div class="landing-fourth-block">

  <div class="fourth-block-container">

  <h1>Connect with us</h1> 

    <div class="four-blocks-social">
      <a href="https://twitter.com/PrimerSports"><img class="bigger-icon" src="http://i.imgur.com/iW1Z8y4.png">
      <h2>Twitter</h2></a>
    </div>

    <div class="four-blocks-social">
      <a href="https://www.facebook.com/PrimerSports"><img src="http://i.imgur.com/yet9rYK.png">
      <h2>Facebook</h2></a>
    </div>

    <div class="four-blocks-social">
      <a href="https://www.instagram.com/primersports/"><img src="http://i.imgur.com/HyoSGDX.png">
      <h2>Instagram</h2></a>
    </div>

    <div class="four-blocks-social">
      <a href="mailto:primerteam@primersports.com?subject=Reaching%20out%20to%20connect%20with%20Primer%20Team"><img class="bigger-icon" src="http://i.imgur.com/uFj6HuA.png">
      <h2>Email us</h2></a>
    </div>
    
  </div>

  <div class="top-click">
    <h3 ng-click="vm.goToDemo('top')">Back to top</h3>
  </div>
    


</div>


<a id="bottom"></a>
<!-- END OF 4TH SCREEN -->