<div class="landing-top-a">
  
  
  <div class="transparent-box"></div>



  <div class="over-background">
    
    <div class="top-text">
      <h3>Call to action text</h3>
    </div>

    <div class="top-form">
      <form>
        <h3>Sign up form</h3>
        <input placeholder="Email address"/>
        <button>Get Primed</button>
      </form>
    </div>

    <i ng-click="vm.goToDemo('demo')" class="fa fa-chevron-down"></i>

    <a href="#/"><img src="http://i.imgur.com/2I2TMYw.png"></a>

  </div>



</div>

<!-- END OF TOP SCREEN -->

<!-- -------- -->

<!-- BEG OF 2ND SCREEN -->

<div class="landing-demo-block">

  <div class="demo-container">
    
    <h1>What we do</h1> 

    <div class="demo-card">
      <h2>Major Stories</h2>
      <img src="http://i.imgur.com/ckDQpvm.png">
    </div>

    <div class="demo-card">
      <h2>Quick Hits</h2>
      <img src="http://i.imgur.com/ckDQpvm.png">
    </div>

    <div class="demo-card">
      <h2>Infographics</h2>
      <img src="http://i.imgur.com/ckDQpvm.png">
    </div>

    <div class="demo-card">
      <h2>Highlights</h2>
      <img src="http://i.imgur.com/ckDQpvm.png">
    </div>

   <!--  <div class="demo-card">
      <h2>One-hit Wonders</h2>
      <img src="http://i.imgur.com/ckDQpvm.png">
    </div>

    <div class="demo-card">
      <h2>Nuggets</h2>
      <img src="http://i.imgur.com/ckDQpvm.png">
    </div> -->
    
    <i ng-click="vm.goToDemo('demo')" class="fa fa-chevron-down"></i>

    <button style="background-color: darkgrey; color: white; padding: 15px;"><a style="font-size: 2.0em;" href="#/archives">Archives</a></button>

  </div>


</div>

<a id="demo"></a>