<div class="top-about-block">
  
 <!--  <p>Need png of banner</p>
  
  <img src="http://i.imgur.com/CFGICrc.png"> -->

  <h1>Co-Founders: Andrew & Brent</h1>

  <div class="about-img-block">
    <img class="about-pic" src="http://i.imgur.com/FMdk5Eq.jpg">
  </div>

</div>

<div class="about-video-block">

  <div class="about-content-block">

  <h2>What is Primer Sports?</h2>

  <p>Primer Sports exists to help you enjoy following and talking sports.  Our goal is to give you great material to use in sports conversations – without an overflow of information</p>
  <p>We deliver an e-mail newsletter each M-W-F that breaks down the biggest news, trends, and fun facts,  along with website special features (like event previews, analysis of relevant issues)</p>

  <p>Along the way we’re also going to have a little fun, but no clickbait, trash journalism, or annoying and intrusive ads</p>

    <iframe width="640" height="360" src="https://www.youtube.com/embed/wHimcaKeYNw" frameborder="0" allowfullscreen></iframe>

  <h2>Who is it for?</h2>

  <p>Primer is for professionals who talk about sports with coworkers, friends and family –  people who want to be in the know on stories worth discussing, ready to chime in with a timely question or fun fact.</p>

  <h2>I already read ____, how is this any different?</h2>
  <p>We filter to only cover impactful stories, and deliver content that doesn’t require you to set aside your whole morning to get smart. Primer is distinct for its:</p>

  <ul class="about-list">
    <li>Editorialized voice – we highlight why stories are worth talking about, and pepper in a dash of subjectivity</li>
    <li>Brevity – get what you need in 5 minutes or less</li>
    <li>Accessibility – written to deliver the back story along with the newsworthy update</li>
  </ul>

</p>

  <h2>Who is running this bad boy?</h2>

  <p>Primer Sports was founded by Andrew Faircloth and Brent Macon, two former management consultants (Bain and McKinsey, respectively) from Atlanta by way of UNC. We’re both on Instagram.</p>

  </div>

</div>