<div class="archives-outer-container">

<div class="archives-transparent"></div>
  
  <div class="archives-container">
    
    <h1>Our previous newsletters</h1>

    <!-- WILL DO NG-REPEAT FOR EACH NEWSLETTER -->
    <div class="newsletter-block">

      <h4 class="newsletter-date">Wednesday, 1/13/2016</h4>
      
      <div class="newsletter-media">
        <img src="http://i.imgur.com/74P3wze.png">
      </div>

      <div class="newsletter-preview">
        
        <h2>Last night was upset city</h2>

        <p>
          Lorem ipsum dolor sit amet, consectet adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>  

      </div>
      

      <ul class="newsletter-subjects">
      <span>Subjects:</span>
      <br>
        <li><button>College Football</button></li>
        <li><button>College Basketball</button></li>
        <li><button>NBA</button></li>
      </ul>

      <p class="read-more-newsletter"><a href="#">Read more</a></p>

    </div>

    <!-- WON't NEED HTML -->
    <div class="newsletter-block">

      <h4 class="newsletter-date">Wednesday, 1/13/2016</h4>
      
      <div class="newsletter-media">
        <img src="http://i.imgur.com/74P3wze.png">
      </div>

      <div class="newsletter-preview">
        
        <h2>Last night was upset city</h2>

        <p>
          Lorem ipsum dolor sit amet, consectet adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>  

      </div>
      

      <ul class="newsletter-subjects">
      <span>Subjects:</span>
      <br>
        <li><button>College Football</button></li>
        <li><button>College Basketball</button></li>
        <li><button>NBA Basketball</button></li>
      </ul>

      <p class="read-more-newsletter"><a href="#">Read more</a></p>

    </div>
    <!-- WONT NEED HTML -->

  </div>

</div>

