<div class="archives-container">
  
  <h1>Our previous newsletters</h1>

  <!-- WILL DO NG-REPEAT FOR EACH NEWSLETTER -->
  <div class="newsletter-block">
    
    <div class="newsletter-media">
      <img src="http://i.imgur.com/74P3wze.png">
    </div>
    
    <h2>Last night was upset city</h2>
    <h4 class="newsletter-date">January 13, 2016</h4>


    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>

    <ul class="newsletter-subjects">
      <li><button>College Football</button></li>
      <li><button>College Basketball</button></li>
      <li><button>NBA Basketball</button></li>
    </ul>

    <p class="read-more-newsletter"><a href="#">Read more</a></p>

  </div>

  <div class="newsletter-block">
    
    <div class="newsletter-media">
      <img src="http://i.imgur.com/74P3wze.png">
    </div>
    
    <h2>Last night was upset city</h2>
    <h4 class="newsletter-date">January 13, 2016</h4>


    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>

    <ul class="newsletter-subjects">
      <li><button>College Football</button></li>
      <li><button>College Basketball</button></li>
      <li><button>NBA Basketball</button></li>
    </ul>

    <p class="read-more-newsletter"><a href="#">Read more</a></p>

  </div>

</div>

