<div class="top-home-block">

  <div class="transparent-box"></div>

  <div class="trans-top-bar-outer">

 

  <div class="trans-top-bar-nav">
    
    <ul>
    <li><a href="#/about">About us</a></li>
      <li><a href="#/archives">Archives</a></li>
      <li><a href="#/landing-a">Sign up</a></li>
      <li><a href="#">Share</a></li>
      <!-- <li><a href="#/create-new-admin">Admin</a></li> -->
    </ul>

  
   <!--  <a href="#/"><img class="top-bar-banner" src="http://i.imgur.com/CFGICrc.png"></a> -->

    <a href="#/"><img class="top-bar-logo" src="http://i.imgur.com/2I2TMYw.png"></a>

  <!--   <ul>
      <li><a href="#/archives">Archives</a></li>
      <li><a href="#/landing-a">Landing</a></li>
      <li><a href="#">Share</a></li>
      <li><a href="#/create-new-admin">Admin</a></li>
    </ul> -->


  </div>

</div>

</div>


<div class="homepage-container">
  
  <h2 class="top-story-tag">Top story</h2>
  <h1>Football has diversity issues - at all levels</h1>
  <p>There will be just 12 African-American college football coaches next year, down from 17 in 2011. Because the NCAA does not govern university hiring practices, it is powerless to implement a rule to address the decline.  An advocacy group is asking schools to voluntarily commit to interviewing at least one minority candidate for coaching vacancies. </p>
  
  
</div>


<div class="most-recent-bar">
  <div class="most-recent-text">
    <i class="fa fa-chevron-down"></i>
    <p class="most-recent-tag">Most recent stories</p>
  </div>
</div>

<div class="homepage-container">
  <div class="home-story-preview">
    
    
    <h4 class="subject-tag">Football</h4>
    <h1>Headline</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </div>

  <div class="home-story-preview">
    
    
    <h4 class="subject-tag">Basketball</h4>
    <h1>Headline</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  </div>
</div>


