
<div class="top-home-block">


  <div class="transparent-box toggle-image first-image show"></div>
  <div class="transparent-box toggle-image second-image"></div>
  <div class="transparent-box toggle-image third-image"></div>

  <div class="trans-top-bar-outer">

 

  <div class="trans-top-bar-nav">
    
    <ul>
    <li><a href="#/about">About Primer</a></li>
      <li><a href="#/archives">Archives</a></li>
      <li><a href="#/signup">Sign up</a></li>
      <li><a href="#/share">Referral program</a></li>
      <!-- <li><a href="#/create-new-admin">Admin</a></li> -->
    </ul>

  
   <!--  <a href="#/"><img class="top-bar-banner" src="http://i.imgur.com/CFGICrc.png"></a> -->

    <a href="#/"><img class="top-bar-logo" src="http://i.imgur.com/2I2TMYw.png"></a>

    <img class="primer-banner-img" src="http://i.imgur.com/yKwRCBg.png">



  </div>

</div>
</div>
<div class="signupbar">
  <div id="mc_embed_signup">
    <form action="//primersports.us9.list-manage.com/subscribe/post?u=b6927a9ba9e73b00250360b96&amp;id=01db07c584" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <h4>Sign up for our newsletter</h4>
      <input type="email" placeholder="Email address" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      <button value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Get Primed!</button>
    </form>
  </div>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='radio';fnames[4]='MMERGE4';ftypes[4]='radio';}(jQuery));var $mcj = jQuery.noConflict(true);</script>


<!-- <div class="home-med-pic-container"> -->

<div class="homepage-container">
  
  <div ng-repeat="article in vm.articles" class="home-med-pic-container">
      <h4 class="subject-tag">{{ article.tagName }}</h4>
      <h1>{{ article.title }}</h1>
      <div class="title-img-row">
        <img src="{{ article.imgUrl }}">
        <p>{{ article.content }}</p>
        <!-- <a class="read-more" href="#">Read more</a> -->
      </div>
      <br>
      <br>
      <br>
  </div>

  
  
</div>


<!-- <div class="most-recent-bar">
  <div class="drop-down-categories">
    <ul class="category-nav"> -->
      <!-- <p class="xBtn" ng-click="vm.closeBar()">x Close</p> -->
      <!-- <p>View articles by category:</p>
      <br>
      <li class="extra">Baseball</li> 
      <li>NCAAM</li>
      <li class="extra">NCAAF</li>
      <li>NFL</li>
      <li>NBA</li>
      <li class="extra">Nuggets</li>
      <li>More...</li> -->

      <!-- <li>College Football</li> -->
      <!-- <li>NFL</li> -->
      <!-- <li>Soccer</li>
      <li>Hockey</li>
      <li>Tennis</li>
      <li>Golf</li> -->
<!--     </ul>
  </div>
</div> -->


