.top-home-block {
  width: 100%;
  height: 650px;
  margin: 0 auto;
  background-color: $Navy;

  .transparent-box {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url(http://images.performgroup.com/di/library/sporting_news/4a/9d/stephen-curry-111614-getty-ftrjpg_1g9uniki9wquj1n6zuy6acwphl.jpg?t=-1190455351);
    background-position: top;
    background-repeat: no-repeat;
    opacity: .7;
    z-index: -1;
    @include box-shadow($light-box-shadows);
  }
}

.homepage-container {
  width: 90%;
  max-width: 1200px;
  display: block;
  margin: 5px auto;

  h1 {
    margin-bottom: 2px;
    border-bottom: 5px solid $BrightBlue;
    margin-top: 10px;
    padding-bottom: 7px;
  }

  .home-med-pic-container {

    .title-img-row {
      display: block;
      margin-top: 5px;
      margin-bottom: 10px;
        
      img {
        float: left;
        margin-right: 20px;
        margin-top: 12px;
        margin-bottom: 5px;
        width: 350px;
        @include box-shadow($light-box-shadows);
      }

      p {
        margin-top: 15px;
        margin-bottom: 2px;
      }
      a.read-more {
        color: $BrightBlue;
        font-weight: bold;
        text-decoration: none;
        font-size: 2.2em;
        display: block;
        text-align: right;
        padding-top: 4px;
        padding-bottom: 10px;
      }
   
    }

  }

  .home-large-pic-container {

    .title-img-row {
      display: block;
      margin-top: 5px;
        
      img {
        display: block;
        margin-right: 20px;
        margin-top: 12px;
        margin-bottom: 5px;
        width: 100%;
        margin: 5px auto;
      }

      p {
        margin-top: 15px;
        margin-bottom: 2px;
      }
      
      a.read-more {
        color: $BrightBlue;
        font-weight: bold;
        text-decoration: none;
        font-size: 2.2em;
        display: block;
        text-align: right;
        padding-top: 4px;
        padding-bottom: 10px;
      }

    }

  }


  h4.subject-tag {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.4em;
    color: $BrightBlue;
    margin-bottom: 2px;
    padding-bottom: 3px;
    text-transform: uppercase;
  }



}

.most-recent-bar {
  width: 100%;
  // max-width: 1200px;
  display: block;
  margin: 0px auto; 
  background-color: $LightGrey;
  padding: 4px;
  padding-left: 2%;
  color: $Navy;

  .most-recent-text {
    width: 85%;
    max-width: 1200px;
    display: block;
    margin: 5px auto;
    padding: 0px;

    i {
      font-size: 2.4em;
      margin: 0px;
      padding-left: 0px;
    }

    p {
      display: inline-block;
      margin: 0px;
      padding-left: 8px;
    }
  }
}