.layout-nav {

}

.sidebar {

}

.content-container {
  width: 100%;
  background-color: white;
}

.footer {
  
}

.page-container-large {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

.page-container-share {
  width: 100%;
  max-width: 1400px;
  margin: 20px auto;
}