<div class="page-container-share">
  
  <!-- <img src="http://i.imgur.com/CFGICrc.png"> -->

  <div class="top-block-share">
    
    <h3>Put the team on your back</h3>

    <img class="mail-icon" src="http://i.imgur.com/TIvscbV.png">

    <div class="process-map">
      
      <p class="share-graphic-text">Choose your message</p>
      <img src="http://i.imgur.com/PymQBPL.png">

      <p class="share-graphic-text">Import your contacts</p>
      <img src="http://i.imgur.com/PymQBPL.png">

      <p class="share-graphic-text">Spread the good word</p>
      <!-- <img src="http://i.imgur.com/PymQBPL.png"> -->

      <!-- <p>You did it!</p> -->
      <img src="http://i.imgur.com/ppzdtst.png">

      <hr>  

      <div class="two-block">
        <h3>If you'd prefer to share on your own:</h3>
        <p>Here's a link: 'sfsafsfsafsa'</p>
      </div>

      <div class="two-block">
        <h3>Competitive? Don't worry we're keeping score</h3>
        <p>Keep track link</p>
      </div>

    </div>

    <div class="action-block-share">
      <div class="action-block-container">
        
        <div class="share-form-block">
          
          <form>

            <div class="form-column">
              <h4 class="form-text">Your email address</h4>
              <input placeholder="...">

              <h4 class="form-text-to">Their email addresses</h4>
              <p class="import-text">Import contacts: </p>
              <a href="#">Google</a><a href="#">Yahoo</a>
              <textarea></textarea>
            </div>

            <div class="form-column">
            
              <h4 class="form-text">Your message</h4>
              <textarea class="share-message" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod"></textarea>
            </div>

            <button class="btn-submit-share">Click for a lifetime of happiness</button>
          </form>
          
        </div>

        
      </div>
    </div>
    
  </div>

  
</div>
