<div class="page-container-share">
  
  <!-- <img src="http://i.imgur.com/CFGICrc.png"> -->

  <div class="top-block-share">
    
    <h3>Put the team on your back</h3>

    <img class="mail-icon" src="http://i.imgur.com/TIvscbV.png">

    <div class="process-map">
      
      <p class="share-graphic-text">Choose your message</p>
      <img src="http://i.imgur.com/PymQBPL.png">

      <p class="share-graphic-text">Import your contacts</p>
      <img src="http://i.imgur.com/PymQBPL.png">

      <p class="share-graphic-text">Spread the good word</p>
      <!-- <img src="http://i.imgur.com/PymQBPL.png"> -->

      <!-- <p>You did it!</p> -->
      <img src="http://i.imgur.com/ppzdtst.png">

      <hr>  

      <div class="two-block">
        <h3>If you'd prefer to share on your own:</h3>
        <p>Here's a link: 'sfsafsfsafsa'</p>
      </div>

      <div class="two-block">
        <h3>Competitive? Don't worry we're keeping score</h3>
        <p>Keep track link</p>
      </div>

    </div>

    <div class="action-block-share">
      <div class="action-block-container">
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        
      </div>
    </div>
    
  </div>

  
</div>
