<div class="page-container-share">
  
  <!-- <img src="http://i.imgur.com/CFGICrc.png"> -->

  <div class="top-block-share">

     
     <form ng-show="!vm.contestEntered"  ng-submit="vm.enterContest(entry)" class="enter-contest-form">
        <h3>Step 1:<br>Sign up to get your unique link</h3>
        <input ng-model="entry.name" placeholder="First name">
        <input ng-model="entry.email" placeholder="Email address">
        <button ng-click="goToUtm()">Next step</button>
      </form>

    <h3 style="width: 80%; max-width: 600px; display: block; margin: 5px auto;"  ng-show="!vm.contestEntered">Next step: Recieve your own unique share link and craft your messsage!</h3>

    <h3 ng-show="vm.contestEntered">Great! Now it's time to put the team on your back.</h3>

    <img ng-show="vm.contestEntered" class="mail-icon" src="http://i.imgur.com/TIvscbV.png">

    <div ng-show="vm.contestEntered" class="process-map">
      
      <p class="share-graphic-text">Choose your message</p>
      <img src="http://i.imgur.com/PymQBPL.png">

      <p class="share-graphic-text">Import your contacts</p>
      <img src="http://i.imgur.com/PymQBPL.png">

      <p class="share-graphic-text">Spread the good word</p>
      <!-- <img src="http://i.imgur.com/PymQBPL.png"> -->

      <!-- <p>You did it!</p> -->
      <!-- <img src="http://i.imgur.com/ppzdtst.png"> -->

      <hr>  

      <div class="two-block">
        <h3>Prefer to share on your own? Here's your unique link:</h3>
        <a href="{{ vm.linkSource }}">{{ vm.linkSource }}</a><span></span>
      </div>

      <div class="two-block">
        <h3>We keep track of who signs up using your link. We'll follow up with a results link!</h3>
      </div>

    </div>

    <div ng-show="vm.contestEntered" class="action-block-share">
      <div class="action-block-container">
        
        <h3>We've made some easy options for you to use but of course feel free to write your own!</h3>

        <button ng-repeat="category in vm.categories" ng-click="vm.getMessage(category)" class="msg-btn">
          {{ category }}
        </button>

        <!-- <button ng-click="vm.showFavorites()" class="msg-btn">Your favorite part of Primer</button>
        <button ng-click="vm.writeMyOwn()" class="msg-btn">Write your own</button> -->

        <div class="share-form-block">
          
          <form>

            <div ng-show="vm.favoriteOptions" class="favorites-options">

              <h4>Select one to view message</h4>
              <button ng-repeat="favoritePart in vm.favoriteParts" ng-click="vm.select(favoritePart)">{{ favoritePart.label }}</button>


            </div>

            <div class="form-column">
              <h4 class="form-text">Your email address</h4>
              <input value="{{ vm.referrerEmail }}" placeholder="...">

              <h4 class="form-text-to">Their email addresses</h4>
              <!-- <p class="import-text" id="left-import">Import contacts:</p>  -->

              <a class="cs_import">
                <button>Import from Address Book
                </button>
              </a>

              <!-- <a href="#">Google</a><a href="#">Yahoo</a>-->
              <textarea id="contact_list"></textarea>
            </div>

            <div class="form-column">
            
              <h4 class="form-text">Your message:</h4>
              <textarea ng-model="vm.message" class="share-message">
              </textarea>
              <span>We'll insert your link in the message for you
                <!-- <a href="{{ vm.linkSource }}">Sign up using my link</a> -->
              </span>
            </div>

            <button class="btn-submit-share">Share Primer</button>
          </form>
          
        </div>

        
      </div>
    </div>
    
  </div>

  
</div>
